/* Header */

@use 'variables' as *;

.admin-header {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 980;
    height: $header-height;
    padding: 0px 20px;

    .uk-navbar-container {
        background: transparent;
    }
}
