/* List Table */

.list-actions-icon {
    width: 20px;
}

.datalist-table {
    .uk-table {
        thead {
            position: sticky;
            top: 0;
            z-index: 3;
            background: white;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            th {
                border-bottom: 1px solid #ccc;
                a {
                    font-weight: 600;
                    color:#2c3e50;
                }
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .datalist-freeze-1,
    .datalist-freeze-2,
    .datalist-freeze-3,
    .datalist-freeze-4 {
        .uk-table thead tr:first-child th:first-child,
        .uk-table td:first-child {
            position: sticky;
            left: 0;
            background: white;
            z-index: 2;
        }
        .uk-table-striped tbody tr:nth-child(odd) td:first-child {
            background: #f8f8f8;
        }    
    }

    .datalist-freeze-2,
    .datalist-freeze-3,
    .datalist-freeze-4 {
        .uk-table th:nth-child(2),
        .uk-table td:nth-child(2) {
            position: sticky;
            background: white;
            z-index: 2;
        }
        .uk-table-striped tbody tr:nth-child(odd) td:nth-child(2) {
            background: #f8f8f8;
        }    
    }

    .datalist-freeze-3,
    .datalist-freeze-4 {
        .uk-table th:nth-child(3),
        .uk-table td:nth-child(3) {
            position: sticky;
            background: white;
            z-index: 2;
        }
        .uk-table-striped tbody tr:nth-child(odd) td:nth-child(3) {
            background: #f8f8f8;
        }        
    }

    .datalist-freeze-4 {
        .uk-table th:nth-child(4),
        .uk-table td:nth-child(4) {
            position: sticky;
            background: white;
            z-index: 2;
        }
        .uk-table-striped tbody tr:nth-child(odd) td:nth-child(4) {
            background: #f8f8f8;
        }        
    }
}
